{% extends 'base.html' %}
{% block title %}Witchy Cooking ~ {{recipe_object.title}}{% endblock title %}
{% block content %}
<main>
    <div class="detail-btn">
            {% if user.is_authenticated %}
                {% if recipe in user.favorite_recipes.all %}
                    <form method="post" action="{% url 'remove' recipe_object.id %}">
                        {% csrf_token %}
                        <button type="submit" class="page-button">Remove from Favorites</button>
                    </form>
                {% else %}
                    <form method="post" action="{% url 'add' recipe_object.id %}">
                        {% csrf_token %}
                        <button type="submit" class="page-button">Add to Favorites</button>
                    </form>
                {% endif %}
                <button type='button' class="page-button">
                    <a href="{% url 'edit' id=recipe_object.id %}">Edit</a>
                </button>
            {% endif %}
    </div>
    {% for message in messages %}
    <div class='messages detail-btn'>{{ message }}</div>
    {% endfor %}
    <div class="detail">
        <h1>{{recipe_object.title}}</h1>
        <div class="half-container">
            <div class="quarter1-width">
                <img class="img-shadow" src="{{ recipe_object.picture.url }}" width="200" height="200">
                <div class="small">Ratings are not available yet</div>
            </div>
            <div class="quarter2-width">
                <p>Servings: {{recipe_object.servings}}</p>
                <p>Calories: {{recipe_object.calories}}</p>
                <p>Protein: {{recipe_object.protein}}</p>
                <p>Fat: {{recipe_object.fat}}</p>
                <p>Carbs: {{recipe_object.carbs}}</p>
                <p style="font-size: small">Protein, fat, and carbs are in grams</p>
            </div>
        </div>
        <p>{{recipe_object.description}}</p>
        <div class="divided-container">
            <div class="table-width">
                <h2>Ingredients</h2>
                <table class="ingredients">
                    <thead>
                        <tr>
                            <th>Amount</th> 
                            <th>Food Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in recipe_object.ingredients.all %}
                        <tr>
                            <td>{{ ingredient.amount }}</td>
                            <td>{{ ingredient.food_item }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="half-width">
                <h2>Steps</h2>
                <ol>
                    {% for step in recipe_object.steps.all %}
                        <li>{{ step.instruction }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <h2>Comments</h2>
        {% if user.is_authenticated %}
            <h3>Add a Comment</h3>
            <form method="post" class="comment">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button class="page-button">Submit</button>
            </form>
        {% else %}
            <p>You must be logged in to add a comment.</p>
        {% endif %}
        <ul class="comment ul">
            {% for comment in recipe_object.comments.all %}
                <li>
                    <strong>{{ comment.author }}</strong>: {{ comment.text }} <br>
                    <small>{{ comment.created_on|date:"F j, Y" }}</small>
                </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock content %}   