{% extends 'base.html' %}
{% block title %}Witchy Cooking ~ {{ recipe_object.title }} ~ Edit{% endblock title %}
{% block content %}
<main>
    <h2 class="h2">Edit Recipe:</h2>
    <h2 class="h2-2">{{ recipe_object.title }}</h2>
    <div class="main-ec">
        <form method="post" action="" class="ec-forms" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="full-width-form"> {% comment %}top form class{% endcomment %}
                {{ form.as_p }}
            </div>

            <div class="half-container"> {% comment %}container class{% endcomment %}
                <div class="half-width"> {% comment %}first half class{% endcomment %}
                    <h2>Ingredients</h2>
                    {{ ingredient_formset.management_form }}
                    <div id="ingredient-forms" class="half-grid">
                        {% for ingredient_form in ingredient_formset %}
                            <div>
                                {{ ingredient_form.as_p }}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" id="add-ingredient" class="page-button2">Add More</button>
                </div>

                <div class="half-width"> {% comment %}second half class{% endcomment %}
                    <h2>Steps</h2>
                    {{ steps_formset.management_form }}
                    <div id="step-forms" class="half-grid">
                        {% for steps_form in steps_formset %}
                            <div>
                                {{ steps_form.as_p }}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" id="add-step" class="page-button2">Add Step</button>
                </div>
            </div>        
            <button type="submit" class="page-button2 full-width-submit"><strong>Save Changes</strong></button>
        </form>
    </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const addIngredientButton = document.getElementById('add-ingredient');
                const addStepButton = document.getElementById('add-step');
                const ingredientFormsDiv = document.getElementById('ingredient-forms');
                const stepFormsDiv = document.getElementById('step-forms');
        
                addIngredientButton.addEventListener('click', function () {
                    const totalForms = document.querySelector('#id_ingredients-TOTAL_FORMS');
                    const currentCount = parseInt(totalForms.value);
                    const newForm = document.createElement('div');
                    newForm.innerHTML = '{{ ingredient_formset.empty_form.as_p|escapejs }}'.replace(/__prefix__/g, currentCount);
                    newForm.querySelector('[name$="-DELETE"]').setAttribute('name', `ingredients-${currentCount}-DELETE`);
                    totalForms.value = currentCount + 1;
                    ingredientFormsDiv.appendChild(newForm);
                });
        
                addStepButton.addEventListener('click', function () {
                    const totalForms = document.querySelector('#id_steps-TOTAL_FORMS');
                    const currentCount = parseInt(totalForms.value);
                    const newForm = document.createElement('div');
                    newForm.innerHTML = '{{ steps_formset.empty_form.as_p|escapejs }}'.replace(/__prefix__/g, currentCount);
                    newForm.querySelector('[name$="-DELETE"]').setAttribute('name', `steps-${currentCount}-DELETE`);
                    totalForms.value = currentCount + 1;
                    stepFormsDiv.appendChild(newForm);
                });
            });
        </script>
</main>
{% endblock content %} 