{% extends 'base.html' %}
{% block title %}Witchy Cooking ~ Favorites{% endblock title %}
{% block content %}
<main>
    <h1>My Favorite Recipes</h1>
    <div class="recipes-grid">
        {% for favorite in favorites %}
        <div class="recipe-item">
            <div class="title-container">
                <h3 class="recipe-title">
                    <a class="hover" href="{% url "detail" favorite.recipe.id %}">{{ favorite.recipe.title }}</a>
                </h3>
            </div>
            <a class="img" href="{% url "detail" favorite.recipe.id %}"><img class="img-shadow" src="{{ favorite.recipe.picture.url }}"></a>
            {% comment %} <p>{{ favorite.recipe.created_on|date:"M d, Y" }}</p> {% endcomment %}
            <form method="post" action="{% url 'remove' favorite.recipe.id %}">
                {% csrf_token %}
                <button type="submit" class="page-button">Remove</button>
            </form>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}