
{% extends 'base.html' %}
{% block title %}Witchy Cooking{% endblock title %}

{% block content %}
    <main>
        <h1>All Recipes</h1>
        <h2>What's cooking in the Cauldron</h2>
        <div class="recipes-grid">
            {% for recipe in recipe_list %}
            <div class="recipe-item">
                <div class="title-container">
                    <h3 class="recipe-title">
                        <a class="hover" href="{% url 'detail' recipe.id %}">{{ recipe.title }}</a>
                    </h3>
                </div>
                <a class="img" href="{% url 'detail' recipe.id %}"><img class="img-shadow" src="{{ recipe.picture.url }}"></a>
                <p>{{ recipe.created_on|date:"M d, Y" }}</p>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}   