{% extends 'base.html' %}
{% block title %}Witchy Cooking ~ Login{% endblock title %}
{% block content %}
<main class="signup-body">
    <div class="main-login">
        <div class="signup">
            <h1 class="h1">Login</h1>
            <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="form-button form-custom-btn">Submit</button>
            </form>
            <button class="form-button2 form-custom-btn2"><a href="{% url 'password_reset_request' %}">Forgot Password</a></button>
        </div>
    </div>
</main>
{% endblock content %}