{% extends 'base.html' %}
{% block title %}Witchy Cooking ~ Request{% endblock title %}
{% block content %}
<main class="signup-body">
    <div class="main-login">
        <div class="signup">
            <h1 class="h1">Reset Request</h1>
            <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="form-button form-custom-btn">Submit</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}