{% extends 'base.html' %}
{% block title %}Witchy Cooking ~ Signup{% endblock title %}
{% block content %}
<main class="signup-body">
  <div class="main">
    <div class="signup">
      <h1 class="h1">Create Account</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="form-button form-custom-btn">Sign up</button>
      </form>
    </div>
  </div>
</main>
{% endblock content %}