@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

/* standard css across the board that use class */
body {
    margin: 0px;
    padding: 0px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    background-color: #EEF2E4;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 75px;
    padding-right: 40px;
}
footer {
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color:	#97AFB9;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    box-shadow: 0px 0px 4px 4px #5C435E;
}
header {
    padding: 16px;
    border-bottom: 2px solid #5C435E;
    background-color: 	#97AFB9;
    box-shadow: 0 4px 4px 0 #5C435E;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
nav {
    display: flex;
    gap: 40px;
    align-items: center;
    color: #5C435E;
    font-size: large;
    justify-content: space-between;
    padding-left: 50px;
    flex-flow: row wrap;
    z-index: 10;
}
a {
    text-decoration: none;
    transition: all 0.3s;
    color: #5C435E;
}
h1 {
    color: #5C435E;
}

h3 {
    margin-top: 0px;
}
/* Media queries for small screens */
@media (max-width: 600px) {
    body {
        font-size: normal;
    }

    main {
        padding-top: 125px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        padding-left: 0px;
    }

    header {
        padding: 12px;
    }

    nav {
        gap: 20px;
        padding-left: 20px;
    }

    /* a {
        font-size: medium;
    } */
}
/* Navigation bar */
.nav-links {
    display: flex;
    gap: 40px;
    flex-flow: row wrap;
}

.nav-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-right: 75px;
    flex-flow: row wrap;
}
.nav-toggle {
    background: none;
    border: none;
    font-size: 0px;
}
/* Search bar */
.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search input {
    float: left;
    background: #eef2e48a;
    border: 1px;
    border-radius: 5px;
    border-color: #EEF2E4;
    border-style: solid;
    box-shadow: inset 1px 0px 5px #0000003a;
    width: 200px;
    height: 25px;
}
.search input:focus {
    outline: 0;
    border: 2px;
    border-radius: 3px 3px 3px 3px;
    background: #00000021;
    text-indent: 5px;
}
/* Media queries for small screens */
@media (max-width: 600px) {
    .nav-toggle {
        display: flex;
        color: #5C435E;
        background: none;
        border: none;
        font-size: 35px;
    }

    .nav-container {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .logo-container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-items: center;
    }
    .nav-container.active {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #97AFB9;
        z-index: 9;
        justify-content: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 35px;
        width: 100%;
        align-items: center;
        font-size: 30px;
    }
    .nav-links a {
        font-size: 25px;
    }

    .search {
        justify-content: center;
        width: 90%;
        padding: 15px;
        gap: 10px;
    }
    .search button {
        margin-left: 10px;
    }
    .search input {
        width: 100%;
        height: 35px;
    }
}
/* Footer bar */
.socials {
    height: 25px;
    margin: 15px 10px;
}
.footer-container {
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
    margin-top: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    gap: 100px;
    justify-content: center;
}
.upper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
    align-items: center;
    text-align: center;
}
.upper p {
    margin-top: 15px;
    margin-bottom: 0;
}
.footer-logo {
    height: 100px;
}
.lower {
    padding-top: 1.4rem;
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}
.lower-list {
    align-items: stretch;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    width: 35%;
}
.footer-ul {
    list-style: none;
}
.footer-li {
    flex-basis: 100%;
    width: auto;
    margin-bottom: 15px;
}
.li-div {
    margin-top: 80px;
    font-size: medium;
}
/* Media queries for small screens */
@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        gap: 5px;
    }

    .upper {
        padding-left: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .lower {
        margin-left: 0;
        justify-content: center;
        margin-bottom: 20px;
    }

    .lower-list {
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    .li-div {
        margin-top: 20px;
        font-size: small;
    }

    .socials {
        margin: 10px 5px;
    }

    .footer-logo {
        height: 80px;
    }
}
/* List grid layout for main page */
.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    width: 100%;
    align-items: end;
}
.recipe-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    width: 220px;
}
.recipe-item form {
    padding-left: 10%;
}
.recipe-title {
    min-height: 4em;
    display: flex;
    align-items: flex-end; 
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
.title-container {
    width: 200px; /* Matches the width of the image */
    margin-bottom: 10px;
}
.recipe-title a {
    display: inline-block;
    max-width: 100%;
    line-height: 1.4em;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
}
/* Media queries for small screens */
@media (max-width: 600px) {
    .recipes-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
    }

    .recipe-item {
        width: 90%;
        padding: 5px;
    }

    .recipe-title {
        min-height: 3em;
    }

    .title-container {
        width: 100%;
    }
}
/* Signup and Login */
.signup-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.main {
    width: 350px;
    min-height: 600px;
    overflow: hidden;
    background: #97afb9cc;
    border-radius: 10px;
    border: 1px solid #EEF2E4;
    box-shadow: inset 2px 2px 6px 4px #00000025,
    10px 10px 25px #5c435e93;
}
.main2 {
    width: 450px;
    height: 650px;
    overflow: hidden;
    background: #97afb9cc;
    border-radius: 10px;
    border: 1px solid #EEF2E4;
    box-shadow: inset 2px 2px 6px 4px #00000025,
    10px 10px 25px #5c435e93;
}
.signup {
    width: 100%;
    height: 100%;
}
.signup input {
    width: 60%;
    height: 10px;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 12px;
    outline: none;
    border-radius: 5px;
    background: #eef2e48a;
    border: 1px;
    border-color: #EEF2E4;
    border-style: solid;
    box-shadow: inset 1px 0px 5px #0000003a;
}
.signup input:focus {
    outline: 0;
    border: 2px;
    border-radius: 3px 3px 3px 3px;
    background: #00000021;
    text-indent: 5px;
    color: #000;
}
.main-login {
    width: 350px;
    height: 350px;
    overflow: hidden;
    background: #97afb9cc;
    border-radius: 10px;
    border: 1px solid #EEF2E4;
    box-shadow: inset 2px 2px 6px 4px #00000025,
    10px 10px 25px #5c435e93;
}
/* Media queries for small screens */
@media (max-width: 600px) {
    .main, .main2 {
        width: 90%;
        min-height: auto;
        height: auto;
    }
    .main-login {
        height: 300px;
    }

    .signup input {
        width: 80%;
    }
}
/* Create, Edit, About CSS */
.full-width-form {
    width: 105%;
    margin-bottom: 20px;
    display: grid;
    justify-content: stretch;
}
.full-width-form p {
    margin: 0;
}
.half-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 25px;
}
.half-width {
    width: 50%;
    box-sizing: border-box;
    padding-right: 20px;
    margin-right: 20px;
}
.half-width img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 15%;
    border-radius: 15px;
    box-shadow: 0px 2px 10px 5px #5C435E;
}
.half-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.half-grid p {
    padding-bottom: 5px;
    margin: 0;
}
.full-width-submit {
    display: block;
    margin-left: 40%;
    width: 200px;
    height: 35px;
    font-size: large;
    margin-bottom: 20px;
}
.main-ec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    padding-top: 40px;
    padding-left: 30px;
    width: 75%;
    overflow: hidden;
    background: #97afb9cc;
    border-radius: 10px;
    border: 1px solid #EEF2E4;
    box-shadow: inset 2px 2px 6px 4px #00000025,
    10px 10px 25px #5c435e93;
}
.ec-forms input,
.ec-forms textarea {
    width: 90%;
    padding: 12px;
    outline: none;
    border-radius: 5px;
    background: #eef2e48a;
    border: 1px solid #EEF2E4;
    box-shadow: inset 1px 0px 5px #0000003a;
    margin-bottom: 10px;
}
.ec-forms input:focus,
.ec-forms textarea:focus {
    outline: none;
    border: 2px solid #EEF2E4;
    border-radius: 3px;
    background: #00000021;
    color: #000;
}
.ec-forms label {
    display: block;
    margin-bottom: 5px;
}
.ec-forms input[type="checkbox"] {
    display: flex;
    align-items: center;
    width: auto;
    margin-right: 5px;
}
.ec-forms input[type="file"] {
    background: transparent;
    border: none;
    box-shadow: none;
}
/* Media queries for small screens */
@media (max-width: 600px) {
    .full-width-form {
        width: 100%;
    }

    .half-container {
        flex-direction: column;
        align-items: center;
    }

    .half-width {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
    }

    .half-width img {
        margin-left: 0;
    }

    .half-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .full-width-submit {
        margin-left: 20%;
        width: 80%;
    }

    .main-ec {
        width: 90%;
        padding: 10px;
    }

    .ec-forms input,
    .ec-forms textarea {
        width: 90%;
    }
}
/* Table for ingredients */
.ingredients {
    border-collapse: collapse;
}

.ingredients td,
.ingredients th {
    border: 1px solid #5c435e;
    padding: 8px;
}
.ingredients th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #97AFB9;
    color: #5C435E;
    box-shadow: inset 1px 0px 5px #0000003a;
    font-size: 20px;
}
.ingredients tr:nth-child(even) {
    background-color: #97afb959;
}
/* Media queries for small screens */
@media (max-width: 600px) {
    .ingredients th,
    .ingredients td {
        padding: 5px;
        font-size: normal;
    }
}
/* Detail page CSS */
.detail h1 {
    padding-bottom: 20px;
}
.detail p {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 125px;
}
.detail h2 {
    padding-top: 25px;
}
.detail h3 {
    margin: 0;
}
.small {
    font-size: small;
}
.quarter1-width {
    width: 15%;
    box-sizing: border-box;
    padding-right: 20px;
    margin-right: 20px;
}
.quarter2-width {
    width: 90%;
    box-sizing: border-box;
    padding-right: 20px;
    margin-right: 20px;
}
.quarter2-width p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: large;
    padding: 0;
}
.quarter1-width img {
    border-radius: 15px;
    margin-bottom: 5px;
}
.table-width {
    width: 25%;
    box-sizing: border-box;
    padding-right: 20px;
    margin-right: 20px;
}
.divided-container {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 25px;
}
.half-width li {
    padding: 5px;
}
.comment textarea {
    width: 50%;
    padding: 12px;
    outline: none;
    border-radius: 5px;
    background: #97afb959;
    border: 1px solid #EEF2E4;
    box-shadow: inset 1px 0px 5px #0000003a;
}
.comment textarea:focus {
    outline: none;
    border: 1px solid #5C435E;
    border-radius: 3px;
    background: #00000021;
    color: #000;
}
.ul {
    padding-right: 920px;
    padding-left: 20px;
}
.comment li {
    list-style-type: none;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.comment li:nth-child(even){background: #00000021;}
.detail-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
}
/* Media queries for small screens */
@media (max-width: 600px) {
    .detail p {
        margin-right: 0;
        padding: 10px 0;
        margin: 0;
    }

    .quarter1-width,
    .table-width {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
    }

    .quarter2-width {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
    }

    .divided-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }

    .comment textarea {
        width: 90%;
    }

    .ul {
        padding-right: 0;
        padding-left: 0;
    }

    .detail-btn {
        margin-right: 0;
        justify-content: center;
        gap: 5px;
    }
}
/* Contact form */
.contact {
    width: 100%;
    height: 100%;
}
.contact h1 {
    font-size: xx-large;
    justify-content: center;
    display: flex;
    margin: 50px 50px 35px 50px;
}
.contact input {
    width: 60%;
    height: 10px;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 12px;
    outline: none;
    border-radius: 5px;
    background: #eef2e48a;
    border: 1px;
    border-color: #EEF2E4;
    border-style: solid;
    box-shadow: inset 1px 0px 5px #0000003a;
}
.contact input:focus {
    outline: 0;
    border: 2px;
    border-radius: 3px 3px 3px 3px;
    background: #00000021;
    text-indent: 5px;
    color: #000;
}
.message textarea {
    width: 60%;
    padding: 12px;
    outline: none;
    border-radius: 5px;
    background: #eef2e48a;
    border: 1px solid #EEF2E4;
    box-shadow: inset 2px 2px 6px 4px #00000025;
    justify-content: center;
    display: flex;
    margin: 20px auto;
}
.message textarea:focus {
    outline: 0;
    border: 2px;
    border-radius: 3px 3px 3px 3px;
    background: #00000021;
    text-indent: 5px;
    color: #000; 
}

/*Guidelines, Privacy policy, */
.guidelines p {
    margin-left: 25px;
}
.guidelines h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.guidelines ol,
.guidelines ul {
    margin-left: 20px;
}
/* Media queries for small screens */
@media (max-width: 600px) {
    .contact h1 {
        font-size: x-large;
        margin: 20px 20px 20px 20px;
    }

    .contact input,
    .message textarea {
        width: 80%;
    }

    .guidelines p {
        margin-left: 10px;
    }

    .guidelines ol,
    .guidelines ul {
        margin-left: 10px;
    }
}
/* About page */
.about p {
    margin-right: 100px;
}
.about h1 {
    display: flex;
    justify-content: center;
}
.about h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

/* Message pop ups */
.messages {
    color: #930000 !important;
    padding-top: 15px;
    font-size: normal;
}
.success {
    color: #930000 !important;
    padding-top: 15px;
    font-size: normal;
    margin-left: 15%;
    padding-bottom: 15px;
}

/* Errors */
.errorlist {
    color: #000000; 
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.errorlist li {
    font-size: small; 
    padding: 10px 20px 10px 20px;
    margin:10px; 
    word-wrap: break-word;
    text-align: center;
}
/* Media queries for small screens */
@media (max-width: 600px) {
    .about p {
        margin-right: 0;
    }

    .about h3 {
        margin-bottom: 30px;
    }

    .success {
        margin-left: 5%;
    }

    .errorlist li {
        padding: 5px 10px 5px 10px;
        margin: 5px;
        font-size: 15px;
    }
}
/* Button CSS */
.search-button {
    border: none;
    color: #000;
    margin-left: 8px;
}
.search-button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -3px -3px 10px 0px #fff9,
     -1px -1px 5px 0px #fff9,
     5px 5px 10px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.search-button:hover {
    color: #000;
}
.search-button:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.search-button:active {
    top: 1px;
}
.custom-btn {
    width: 100px;
    height: 25px;
    color: #000;
    border-radius: 5px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px #ffffff80,
     2px 2px 6px 0px #5C435E;
    outline: none;
}
.page-button {
    border: none;
    color: #000;
    margin-left: 8px;
    background: #97afb99d;
    cursor: pointer;
    width: 125px;
    height: 30px;
    border-radius: 5px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px #ffffff80,
     2px 2px 6px 0px #5C435E;
    outline: none;
    position: relative;
}
.page-button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    box-shadow:
    -3px -3px 10px 0px #fff9,
    -1px -1px 5px 0px #fff9,
    5px 5px 10px 0px #0002,
    4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
    z-index: -1;
}
.page-button:hover {
    color: #000;
}
.page-button:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.page-button:active {
    top: 1px;
}
.page-button2 {
    border: none;
    color: #000000;
    margin-left: 8px;
    background: #97afb99d;
    cursor: pointer;
    width: 125px;
    height: 30px;
    border-radius: 5px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px #ffffff80,
     2px 2px 6px 0px #5C435E;
    outline: none;
    position: relative;
}
.page-button2:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    box-shadow:
     -3px -3px 10px 0px #ffffff,
     -1px -1px 5px 0px #ffffff,
     5px 5px 10px 0px #080808,
     4px 4px 5px 0px #111111;
    transition: all 0.3s ease;
    z-index: -1;
}
.page-button2:hover {
    color: #000;
}
.page-button2:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.page-button2:active {
    top: 1px;
}
.form-button {
    border: none;
    color: #000;
    margin-left: 38%;
    margin-top: 15px;
    margin-bottom: 20px;
}
.form-button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    box-shadow:
     -3px -3px 10px 0px #fff9,
     -1px -1px 5px 0px #fff9,
     5px 5px 10px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.form-button:hover {
    color: #000;
}
.form-button:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.form-button:active {
    top: 1px;
}
.form-custom-btn {
    width: 100px;
    height: 35px;
    color: #000;
    border-radius: 5px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px #ffffff80,
     2px 2px 6px 0px #5C435E;
    outline: none;
}
.form-button2 {
    border: none;
    color: #000;
    margin-left: 35%;
}
.form-button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    box-shadow:
     -3px -3px 10px 0px #fff9,
     -1px -1px 5px 0px #fff9,
     5px 5px 10px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.form-button:hover {
    color: #000;
}
.form-button:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.form-button:active {
    top: 1px;
}
.form-custom-btn {
    width: 100px;
    height: 35px;
    color: #000;
    border-radius: 5px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px #ffffff80,
     2px 2px 6px 0px #5C435E;
    outline: none;
}
.form-custom-btn2 {
    width: 125px;
    height: 30px;
    color: #000;
    border-radius: 5px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: normal;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px #ffffff80,
     2px 2px 6px 0px #5C435E;
    outline: none;
}
/* Media queries for small screens */
@media (max-width: 600px) {
    .custom-btn,
    .form-custom-btn {
        width: 80px;
        height: 30px;
        font-size: medium;
    }
    .form-custom-btn2 {
        width: 80px;
        height: 45px;
        font-size: medium;
    }
    .form-button2 {
        margin-left: 38%;
    }
    .page-button,
    .page-button2,
    .search-button {
        width: 120px;
        height: 40px;
        font-size: medium;
    }
}
/* Images */
.logo {
    height: 75px;
}
.img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    margin-bottom: 10px;
}
.img-shadow {
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px -2px 5px 2px #5C435E;
    border-radius: 15px;
}

/* Random */
.h1 {
    font-size: x-large;
    justify-content: center;
    display: flex;
    margin: 50px 50px 35px 50px;
}
.h2 {
    font-size: xx-large;
    justify-content: center;
    display: flex;
    color: #5C435E;
    padding-bottom: 10px;
    margin: 0;
}
.h2-2 {
    font-size: xx-large;
    justify-content: center;
    display: flex;
    color: #5C435E;
    padding-bottom: 45px;
    margin: 0;
}
.hover:hover {
    color: #5C435E;
    text-decoration: underline;
}
/* Media queries for small screens */
@media (max-width: 600px) {
    .img, .img-shadow {
        width: 150px;
        height: 150px;
    }

    .h1 {
        font-size: large;
        margin: 20px 20px 20px 20px;
    }

    .h2, .h2-2 {
        font-size: x-large;
        padding-bottom: 20px;
    }
}