{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel='stylesheet' href="{% static "css/recipes.css" %}">
    <link rel="icon" href="{% static 'images/WCLogo.png' %}" type="image/x-icon">

</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <img class="logo" src="{% static "images/WCLogo.png" %}">
                <button class="nav-toggle" aria-label="Toggle navigation">
                    &#9776; <!-- Unicode for hamburger icon -->
                </button>
            </div>
            <div class="nav-container">
                <div class="nav-links">
                    <a class="hover nav-a" href="{% url 'all' %}">All Recipes</a>
                    {% if user.is_authenticated %}
                        <a class="hover nav-a" href="{% url 'mine' %}">My Recipes</a>
                        <a class="hover nav-a" href="{% url 'create' %}">Create recipe</a>
                        <a class="hover nav-a" href="{% url 'favorites' %}">Favorite Recipes</a>
                        <a class="hover nav-a" href="{% url 'logout' %}">Logout</a>
                        <div>Hello, {{ user.username }}</div>
                    {% else %}
                        <a class="hover nav-a" href="{% url 'signup' %}">Sign up</a>
                        <a class="hover nav-a" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
                <form method="GET" class="search">
                    {{ search_form.as_p }}
                    <button type="submit" class="search-button custom-btn">Search</button>
                </form>
            </div>
        </nav>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const navToggle = document.querySelector('.nav-toggle');
                const navLinks = document.querySelector('.nav-container');
            
                navToggle.addEventListener('click', function () {
                    navLinks.classList.toggle('active');
                });
            });
        </script>
    </header>
    {% block content %} {% endblock content %}
    <footer>
        <div class="footer-container">
            <div class="upper">
                <div>
                    <img class="footer-logo" src="{% static "images/WCLogo.png" %}">
                    <p>A site created in order to store your recipes <br>and see other concoctions</p>
                </div>
                <div>
                    <p>Follow the Witch herself!</p>
                    <a href="https://www.instagram.com/calico.terror/"><img class="socials" src="{% static "images/instagram.png" %}"></a>
                    <a href="https://www.facebook.com/kenzie.long.71/"><img class="socials" src="{% static "images/facebook.png" %}"></a>
                    <a href="https://x.com/ValkyrieRemedy"><img class="socials" src="{% static "images/twitter.png" %}"></a>
                </div>
                <div> Copywrite: Lillith Long - Made in 2024 </div>
            </div>
            <div class="lower">
                <ul class="lower-list footer-ul">
                    <a class="footer-li" href="{% url 'about' %}"><li>About the Creator</li></a>
                    <a class="footer-li" href="{% url 'contact' %}"><li>Contact</li></a>
                    <a class="footer-li" href="{% url 'guidelines' %}"><li>Guidelines</li></a>
                    {% comment %} <div class="li-div"> Copywrite: Lillith Long - Made in 2024 </div> {% endcomment %}
                </ul>
                <ul class="lower-list footer-ul">
                    <a class="footer-li" href="{% url 'privacy' %}"><li>Privacy Policy</li></a>
                    <a class="footer-li" href="{% url 'terms' %}"><li>Terms of Service</li></a>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>