{% extends 'base.html' %}
{% load static %}
{% block title %}Witchy Cooking ~ About{% endblock title %}
{% block content %}
<main>
    <div class="about">
        <h1 class="">About the Creator</h1>
        <h3>The Kitchen Witch</h3>
    </div>
    <div class="half-container">
        <div class="half-width">
            <img src="{% static "images/Self.jpg" %}">
        </div>
        <div class="half-width about">
            <p>
                The creator of this innovative project embarked on this journey initially as a class assignment aimed at mastering Django and Python. 
                This project has since evolved into a comprehensive platform showcasing not only technical prowess but also a deep passion for software 
                development. The aim was to learn the intricacies of web development, build dynamic and user-friendly interfaces, and gain hands-on 
                experience in creating functional applications from scratch.
            </p>
            <p>
                Beyond the realm of coding and development, the creator has a profound love for cooking and experimenting with new recipes. This culinary 
                enthusiasm seamlessly blends with the technical aspects of the project, creating a harmonious balance between two distinct yet complementary 
                interests. The thought behind the project was to offer users the ability to store their own recipes digitally, contributing to environmental 
                sustainability by reducing paper waste. By providing a digital platform for recipe storage, the project aims to help users organize their 
                culinary creations in an eco-friendly manner. Additionally, the platform is designed to be ad-free, ensuring a seamless and enjoyable user 
                experience without the intrusive mass advertisements commonly found on many other recipe websites.
            </p>
            <p>
                When not engrossed in developing the next feature or debugging code, the creator enjoys spending time outdoors. Whether hiking, camping, 
                or simply enjoying nature, being outside provides a refreshing break from the digital world. This love for nature is complemented by a 
                passion for traveling, exploring new places, and experiencing diverse cultures.
            </p>
            <p>
                In addition to these interests, the creator is an ardent animal lover, sharing a home with four delightful cats. These feline companions 
                add a unique charm to the creator's life, offering companionship and inspiration.
            </p>
            <p>
                Through this project, the creator not only aims to refine technical skills but also hopes to create a platform that reflects personal 
                passions and interests, providing users with a seamless and enjoyable experience while promoting sustainability and user-centric design.
            </p>
        </div>
    </div>
</main>
{% endblock content %} 