{% extends 'base.html' %}
{% load static %}
{% block title %}Witchy Cooking ~ Contact{% endblock title %}
{% block content %}
<main class="signup-body">
    <div class="main2">
        <div class="contact">
            <h1 class="h1">Contact the Creator</h1>
            {% for message in messages %}
                <div class='success'>{{ message }}</div>
            {% endfor %}
            <form method='POST' autocomplete='off'>
            {% csrf_token %}
                <div class="message">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="form-button form-custom-btn"><strong>Send</strong></button>
            </form>
        </div>
    </div>
</main>
{% endblock content %} 