{% extends 'base.html' %}
{% load static %}
{% block title %}Witchy Cooking ~ Guidelines{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>Recipe Site Guidelines</h1>
        <p>
            Welcome to Witchy Cooking! These guidelines will help you understand how to use the various features of our site, including inputting your own recipes, 
            <br>editing your recipes, saving recipes, managing your login information, and using the contact form.
        </p>
        <div>
            <h3>Table of Contents</h3>
            <ul>
                <li>Inputting Your Own Recipes</li>
                <li>Editing Your Recipes</li>
                <li>Saving Recipes</li>
                <li>Managing Your Login Information</li>
                <li>Using the Contact Form</li>
            </ul>
        </div>
        <div class="guidelines">
            <h3>Inputting Your Own Recipes</h3>
            <div>
                <p>
                    <strong>Navigate to the Recipe Input Page:</strong> After logging in, go to the "Add Recipe" section.
                </p>
                <p>
                    <strong>Fill in the Recipe Form:</strong>
                    <ol>
                        <li><strong>Title:</strong> Enter the name of your recipe.</li>
                        <li><strong>Picture:</strong> Upload a high-quality image of your dish.</li>
                        <li><strong>Description:</strong> Provide a brief description of your recipe.</li>
                        <li><strong>Ingredients:</strong> List all the ingredients required.</li>
                        <li><strong>Steps:</strong> Detail the steps to prepare the dish. You can add multiple steps using the provided formset.</li>
                    </ol>
                </p>
                <p>
                    <strong>Submit:</strong> Click the "Submit" button to add your recipe to the site. Your recipe will be available for other users to view and try out.
                </p>
            </div>
        </div>
        <div class="guidelines">
            <h3>Editing Your Recipes</h3>
            <div>
                <p>
                    <strong>Navigate to Your Recipes:</strong> Go to the "My Recipes" section in your profile.
                </p>
                <p>
                    <strong>Select a Recipe to Edit:</strong> Click on the recipe you wish to edit.
                </p>
                <p>
                    <strong>Edit the Recipe:</strong> Make necessary changes to the title, image, description, ingredients, or steps. Ensure all information is accurate and clear.
                </p>
                <p>
                    <strong>Save Changes:</strong> Click the "Save" button to update your recipe.
                </p>
            </div>
        </div>
        <div class="guidelines">
            <h3>Saving Recipes</h3>
            <div>
                <p>
                    <strong>Find a Recipe You Like:</strong> Browse through the recipes on the site.
                </p>
                <p>
                    <strong>Save the Recipe:</strong> Click the "Save" button on the recipe page to add it to your saved recipes.
                </p>
                <p>
                    <strong>Access Saved Recipes</strong> Go to the "Saved Recipes" section in your profile to view all your saved recipes.
                </p>
            </div>
        </div>
        <div class="guidelines">
            <h3>Managing Your Login Information</h3>
            <div>
                <p>
                    <strong>Login:</strong> Use your registered email and password to log in to the site.
                </p>
                <p>
                    <strong>Forgot Password:</strong> If you forget your password, use the "Forgot Password" link on the login page. Enter your registered email to receive a password reset link.
                </p>
                <p>
                    <strong>Logout:</strong> Click the "Logout" button to safely exit your account.
                </p>
            </div>
        </div>
        <div class="guidelines">
            <h3>Using the Contact Form</h3>
            <div>
                <p>
                    <strong>Navigate to the Contact Page:</strong> Click on the "Contact" link in the footer at the bottom of the page.
                </p>
                <p>
                    <strong>Fill in the Form</strong> 
                    <ol>
                        <li><strong>Name:</strong> Enter your full name.</li>
                        <li><strong>Email:</strong> Provide your email address.</li>
                        <li><strong>Subject:</strong> Enter the subject of your message.</li>
                        <li><strong>Message:</strong> Write your message or query in detail.</li>
                    </ol>
                </p>
                <p>
                    <strong>Submit:</strong> Click the "Send" button to submit the form. Our team will get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock content %} 