{% extends 'base.html' %}
{% load static %}
{% block title %}Witchy Cooking ~ Privacy{% endblock title %}
{% block content %}
<main>
    <div class="guidelines">
        <h1>Privacy Policy</h1>
        <h3>Introduction</h3>
        <p>
            Welcome to Witchy Cooking. We are committed to protecting and respecting your privacy. 
            <br>This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website [www.yourwebsitename.com], 
            <br>including any other media form, media channel, mobile website, or mobile application related or connected thereto collectively, the “Site”.
        </p>
        <h3>Information We Collect</h3>
        <p>
            We may collect information about you in a variety of ways. The information we may collect on the Site includes:
        </p>
        <strong>Personal Data</strong>
        <p>
            Personally identifiable information, such as your name, and email address, that you voluntarily give to us when you register with the Site or when you choose 
            <br>to participate in various activities related to the Site, such as recipe creation or posting messages in our online forums. 
            <br>If you choose to share data about yourself via your profile or other interactive areas of the Site, please be advised that all data you 
            <br>disclose in these areas is public and your data will be accessible to anyone who accesses the Site.  
        </p>
        <strong>Derivative Data</strong>
        <p>
            Information our servers automatically collect when you access the Site, such as your IP address, your browser type, your operating system, your access times, 
            <br>and the pages you have viewed directly before and after accessing the Site. If you are using our mobile application, this information may also include your device name 
            <br>and type, your operating system, your phone number, your country, and your likes and replies to a post, and other interactions with the application and other users via 
            <br>server log files, as well as any other information you choose to provide. 
        </p>
        <strong>Mobile Device Data</strong>
        <p>
            Device information, such as your mobile device ID, model, and manufacturer, and information about the location of your device, if you access the Site from a mobile device.
        </p>
        <h3>Use of Your Information</h3>
        <p>
            Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about 
            <br>you via the Site to:
        </p>
        <ul>
            <li>Create and manage your account.</li>
            <li>Provide, operate, and maintain our Site.</li>
            <li>Improve, personalize, and expand our Site.</li>
            <li>Understand and analyze how you use our Site.</li>
            <li>Develop new products, services, features.</li>
        </ul>
    </div>
</main>
{% endblock content %} 