{% extends 'base.html' %}
{% load static %}
{% block title %}Witchy Cooking ~ Terms{% endblock title %}
{% block content %}
<main>
    <div class="guidelines">
        <h1>Terms of Service</h1>
        <strong>1. Acceptance of Terms</strong>
        <p>
            By accessing and using Witchy Cooking, you accept and agree to be bound by the terms and provisions of this agreement. 
            <br>In addition, when using these particular services, you shall be subject to any posted guidelines or rules applicable to such services.
        </p>
        <strong>2. Changes to Terms</strong>
        <p>
            We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If the alterations constitute a material change to the Terms, 
            <br>we will notify you by posting an announcement on our site. What constitutes a material change will be determined at our sole discretion.
        </p>
        <strong>3. Eligibility</strong>
        <p>
            You must be at least 13 years old to use our website. By using our website, you represent and warrant that you have the right, authority, 
            <br>and capacity to enter into this agreement and to abide by all of the terms and conditions of this agreement  
        </p>
        <strong>4. Account Registration</strong>
        <p>
            To access certain features of the Site, you may be required to register for an account. When you register for an account, you must provide accurate 
            <br>and complete information. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure.
        </p>
        <strong>5. User Responsibilities</strong>
        <ul>
            <li>You agree not to use the Site for any illegal or unauthorized purpose.</li>
            <li>You must not, in the use of the Site, violate any laws in your jurisdiction.</li>
            <li>You are responsible for maintaining the confidentiality of your login information and are fully responsible for 
                <br>all activities that occur under your account.</li>
        </ul>
        <strong>6. Content and Contributions</strong>
        <ul>
            <li>Users can create and share recipes, comments, and other content (“User Contributions”).</li>
            <li>You retain ownership of your User Contributions, but by posting them to the Site, you grant us a non-exclusive, 
                <br>worldwide, royalty-free license to use, copy, modify, distribute, and display such User Contributions.</li>
        </ul>
        <strong>7. Prohibited Activities</strong>
        <p>You agree not to engage in any of the following prohibited activities:</p>
        <ul>
            <li>Using the Site for any unlawful purpose or to promote any unlawful activities.</li>
            <li>Interfering with or disrupting the Site or the servers or networks connected to the Site.</li>
            <li>Attempting to access another user's account without permission.</li>
            <li>Uploading or transmitting any viruses or other harmful code.</li>
        </ul>
        <strong>8. Privacy</strong>
        <p>Please review our Privacy Policy, which also governs your visit to the Site, to understand our practices.</p>
        <strong>9. Termination</strong>
        <p>
            We reserve the right to terminate or suspend your account and access to the Site at our sole discretion, without 
            <br>notice or liability, for conduct that we believe violates these Terms or is harmful to other users of the Site, 
            <br>us, or third parties, or for any other reason. 
        </p>
        <strong>10. Limitation of Liability</strong>
        <p>
            In no event shall Witchy Cooking, its officers, directors, employees, or agents, be liable to you for any direct, 
            <br>indirect, incidental, special, punitive, or consequential damages whatsoever resulting from any:
        </p>
        <ul>
            <li>Errors, mistakes, or inaccuracies of content,</li>
            <li>Personal injury or property damage, of any nature whatsoever, resulting from your access to and use of our services,</li>
            <li>Any unauthorized access to or use of our secure servers and/or any and all personal information stored therein.</li>
        </ul>
        <strong>11. Governing Law</strong>
        <p>
            These Terms shall be governed and construed in accordance with the laws of Colorado, 
            <br>without regard to its conflict of law provisions.
        </p>
        <strong>12. Contact Information</strong>
        <p>For any questions about these Terms, please contact us using the contact form on the contact page.</p>
    </div>
</main>
{% endblock content %} 